body{
    flex-flow: column;
    align-items: center;
    background: no-repeat url("/public/assets/img/404.jpg") center;
    object-fit: contain;
}


p{
    height: auto;
    background-color: white;
    opacity: 0.9;
    text-align: center;
    font-size: 2em;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        background: no-repeat url("/public/assets/img/404.jpg") -800px -200px;
    }

    p{
        margin-top: 100%;
        margin-bottom: 15vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        background: no-repeat url("/public/assets/img/404.jpg") -800px -200px;
    }
    p{
        margin-top: 100%;
        margin-bottom: 15vh;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        background: no-repeat url("/public/assets/img/404.jpg") center;
    }
    p {
        margin-top: 50vh;
        margin-bottom: auto;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}