body{
    align-items: center;
    background: no-repeat url("/public/assets/img/adminbackground.jpg");
    object-fit: contain;
}
h2{
    font-family: silkBold;
    color: white;
    margin: 5px;
    font-size: 1.5em;
}
main{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding : 20px 0px;
}

/*
https://stackoverflow.com/questions/23989463/how-to-set-tbody-height-with-overflow-scroll
*/
#logTable th, #logTable td{
    text-align: left;
}
#logTable{
    width: 80vw;
}
#logTable tbody{
    display: block;
    width:auto;
    max-height: 300px;
    overflow-y: scroll;
}
#logTable thead, #logTable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
#logTable thead th:first-child, #logTable tbody tr td:first-child, #logTable thead th:nth-child(3), #logTable tbody tr td:nth-child(3){
    width: 10%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    main{
        justify-content: flex-start;
    }
    #logTable{
        display:none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}