body{
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background: no-repeat url("/public/assets/img/connectionbackground.jpg");
    object-fit: contain;
}

h1{
    text-align: center;
    font-family: silkBold;
    font-size : 1.5em;
}


.buttonContainer{
    margin : 20px;
}
.focused{
    color : var(--flatgrey) !important;
    background-color:white !important;
    border-color: var(--flatgrey) !important;
}
.grid-container{
    display: grid;
    grid-template-columns:25% 75%;
    grid-auto-rows: minmax(15%, 25%);
}

.fiveElementsGrid{
    grid-template-rows: 25% 20% 20% 25% 10%;
}

.nineElementsGrid{
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.grid-title{
    margin : 10px 0px;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.grid-label{
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin : 10px 15px 10px 0px;
}
.grid-input{
    font-family: silkBold;
    grid-column: 2/3;
    padding : 10px;
    color: white;
    margin : 10px 5px 10px 0px;
    background: var(--flatblue);
    border-radius : 10px;
}



::placeholder{
    color : white;
    opacity: 0.3;
}

.FormContainerMedium, .FormContainerTall{
    padding : 10px;
    background: white;
    border : var(--flatgrey) 1px solid;
    border-radius: 20px;
    box-shadow: 20px 20px 30px var(--flatgrey);
    transition: all 0.6s;
}
.displayNone{
    opacity: 0;
    display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .FormContainerMedium{
        max-width: 80vw;
        width: 80vw;
        height:75vh;
        max-height:300px;
    }
    .FormContainerTall{
        max-width: 80vw;
        width: 80vw;
        max-height:90vh;
    }
    .grid-title{
        margin : 5px 0px;
    }
    .grid-label{
        margin : 0px;
        text-align: right;
    }
    .grid-input{
        margin : 5px;
        padding : 5px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .FormContainerMedium{
        max-width: 80vw;
        width: 80vw;
        height:75vh;
        max-height:300px;
    }
    .FormContainerTall{
        width: 450px;
        max-width: 500px;
        max-height:600px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .FormContainerMedium{
        width:50vw;
        max-width: 400px;
        height:75vh;
        max-height:300px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}