body{
    flex-flow : column;
    justify-content: center;
    align-items: center;
    align-items: center;
    background: no-repeat url("/public/assets/img/connectionbackground.jpg");
    object-fit: contain;
}

p{
    background-color:white;
    opacity : 0.9;
    text-align: center;
}

input[type="button"]{
    align-self  : flex-start;
}
h2{
    margin : 15px 0px;
    font-size: 1.5em;
    font-family: silkBold;
    color: white;
}

main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex : 1;
}
.title{
    display: flex;
    flex-flow: row;
    align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}