body{
    align-items: center;
    background: no-repeat url("/public/assets/img/profilebackground.jpg");
    object-fit: contain;
}

main{
    display:flex;
    flex-flow: column nowrap;
    padding : 20px 0px;
}
form{
    background-color: white;
    opacity: 0.8;
    border-radius: 10px;
    padding: 10px;
    margin:auto;
    width : 75vw;
    max-width:500px;
    justify-content: center;
    align-items: flex-start;
}
.category {
    display: flex;
    flex-flow: column nowrap;
    margin: 10px 0px;
}
h2{
    border-bottom: 2px var(--redorange) solid;
    padding : 5px 0px
}
label, input{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    padding-left:10px;
    margin: 10px 0px;
}
input[type='submit']{
    justify-content: center;
    padding-left:0px;
}
.formRow{
    margin : 10px 0px;
    display : flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
label{
    width: 100px;
    margin-right: 15px;
}
input{
     width : 300px;
 }
input :not([type='submit']){
    width : 200px;
}
.submit{
    align-self: center;
}
input[type='submit']{
    text-align: center;
    width: 100px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    label{
        width: auto;
        margin: 0px;
    }
    input{
        width : 65vw;
        margin: 0px;
    }
    input :not([type='submit']){
        width : 100px;
    }
    .formRow {
        margin: 5px 0px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    form{
        align-items: center;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-height: 800px) {
    form{
        height : auto;
    }
    label, input{
        height: 30px;
        margin: 5px 0px;
    }
    .formRow {
        margin: 5px 0px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}