/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*
    VARIABLE
*/

@font-face{
 font-family: silkRegular;
    src:url('../fonts/Quicksand-Regular.otf');
}

@font-face{
 font-family: silkBold;
    src:url('../fonts/Quicksand-Bold.otf');
}

@font-face{
    font-family: Title;
    src:url('../fonts/Amadeus.ttf');
}



:root{
    --redorange: #e55039;
    --flatgrey: #2f3640;
    --flatlightblue : #4a69bd;
    --flatblue: #0c2461;
}

/*
    RESET
*/

*{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font-family: silkRegular;
    vertical-align: baseline;
    color : var(--flatgrey)
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}
main{
    flex:1
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/*
    FORM
*/
form{
    display : flex;
    flex-flow: column;
}
input {
    font-family: silkBold;
    border-radius: 10px;
}
input[type="submit"] {
    border-radius: 10px;
    margin : 10px 30px;
}
input[type="button"] {
    height : 40px;
    width : 100px;
    padding :10px;
}
.alert, .message{
    color: white;
    opacity: 0.9;
    text-align: center;
    border-radius: 5px;
}
.alert{
    background: red;
}
.message{
    background: var(--flatblue);
}

/*
    ELEMENTS
*/
button, input[type="submit"], input[type="button"]{
    color: white;
    background-color: var(--flatgrey);
    border-color: var(--redorange);
    border-radius: 10px;
}

button{
    display: flex;
    align-items: center;
    position: sticky;
    font-family: silkBold;
    padding : 5px;
    margin : 0px 5px;
    height: 30px;
    width : auto;

}
.icon{
    display : flex;
    justify-content: center;
}
.removeIcon:before{
    display: block;
    content:'';
    background: transparent url('/public/assets/img/bin.png') no-repeat center;
    height:30px;
    width:30px;
    background-size: 30px;
    padding-left: 30px;
}
.updateIcon:before{
    display: block;
    content:'';
    background: url('/public/assets/img/update.png') no-repeat center;
    height:30px;
    width:30px;
    background-size: 30px;
    padding-left: 30px;
}
.homeIcon::before, .logoutIcon::before, .adminIcon::before, .gitlabIcon::before, .profileIcon::before{
    display: block;
    content:'';
    height:20px;
    width : 20px;
    margin-right : 5px;

}
.logoutIcon::before{
    background: url('/public/assets/img/logoutIcon.png') no-repeat center;
    background-size: 20px;
}
.adminIcon::before{
    background: url('/public/assets/img/adminIcon.png') no-repeat center;
    background-size: 20px;
}
.gitlabIcon::before{
    background: url('/public/assets/img/gitIcon.png') no-repeat center;
    background-size: 20px;
}
.profileIcon::before{
    background: url('/public/assets/img/profileIcon.png') no-repeat center;
    background-size: 20px;
}
.homeIcon::before{
    background: url('/public/assets/img/homeIcon.png') no-repeat center;
    background-size: 20px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--redorange);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--redorange)
;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/*
    TABLE
*/
table{
    background-color: white;
    overflow: auto;
    width: 75vw;
    padding : 20px 10px;
    border : none;
    align-items: center;
}
thead{
    background-color: var(--flatgrey);
}
thead th {
    color: white;
}
th, td{
    Padding:5px;
    width: auto;
    vertical-align: middle;
    text-align: center;
}
tbody tr:hover td:not(.iconData){
    color: white;
    background-color: var(--flatgrey);
}
/*
    NAV
*/
nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-size:1.5em;
    min-height : 50px;
    height: auto;
    padding:10px;
    width : 100%;
    overflow: fragments;
}
.navIcons{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
/*
    FLEX
*/
.flex{
    display: flex;
}
.flexRow{
    flex-flow: row nowrap;
}
.flexColumn{
    flex-flow: column nowrap;
}
.flexCenter{
    justify-content: center;
    align-items: center;
}
.flexRowCenterLeft{
    justify-content: flex-start;
    align-items: center;
}
.flexColumnCenterTop{
    justify-content: flex-start;
    align-items: center;
}
.spaceBetween{
    justify-content: space-between;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav{
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size:1em;
        min-height: auto;
    }
    button{
        margin : 5px 5px;
        height: 25px;
        padding : 2px;
        font-size: 0.6em;
    }
    .homeIcon::before, .logoutIcon::before, .adminIcon::before, .gitlabIcon::before, .profileIcon::before{
        display: none;
    }
    table{
        font-size: 0.8em;
        padding : 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}